<!DOCTYPE html>
<html>
<head>
  <title>M18xx</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-cloak ng-app="M18xx">

<%= yield %>

</body>
</html>
